.Container {
display:flex;
flex-direction: column;
}

.item_img {
display: flex;
flex-wrap: wrap;
gap: 2px;}

.section {
display: flex;
flex-direction: column;
}

img {
width: 25%;
}

.element_ul {
border: 2px solid white;
border-radius: 5px;
padding: 10px;
list-style: circle;
box-shadow: 2px;
}

.link_title{
font-weight: 800;
}
