*{
    font-family: serif;
    font-size: 18px;
    background-color: rgb(129, 13, 236);
    color: aliceblue;
}

.ask{
    background-color: white;
    color: black;
}

.askButton{
    font-weight: bold;
    font-style: italic;
    background-color: antiquewhite;
    color: rgb(129, 13, 236);
    margin-inline-start: 9rem;
    margin-top: 10px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.network{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu a, .network a{
    font-size: 1.75rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

ul.menu, ul.network{
    padding-inline-start: 0em;
}

nav.menu, li.item1 , li.item2, li.item3, li.item4, .item1>a , .item2>a, .item3>a, .item4>a{
    background-color: aliceblue;
    color: rgb(129, 13, 236);
}

@media only screen and (max-width: 500px) {
    .menu{
        flex-direction: column;
        text-align: center;
    }
}

.navigation{
    border:  3px solid;
    border-color: aliceblue;
    border-radius: 20px;
    background-color: aliceblue;
}

li a{
    text-decoration: none;
}

label{    
    display: inline-block;
    width: 300px;  
    vertical-align: top;
}

header h1{
    text-align: center;
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
    text-align: center;
}

div {
    padding: 0.5%;
}

#textoContacto p{
    text-align: center;
}

.validation{
    display:none;
    color: yellow;
    margin-left: 0.5rem;
}

#bodyHistory{
 text-align: center;
}
   
.item3 ul, .item3 ul li, .item3 ul li a {  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    list-style: none;
    font-style: italic;
    background-color: rgb(187, 107, 230);
    border-top-right-radius:2%;
  
  } 
