<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"
        <meta name="viewport" content="width=device-whith, initial-scale">                
        <link rel="shortcut icon" href="../Images/Favicon/icono.ico" type="image/x-icon">
        <link rel="stylesheet" href="../Css/tpo.css">
        <script src="../Scripts/tpo.js"></script>
        <title>San Telmo - Historia</title>
    </head>
    <body>
        <header>
            <h1>Conociendo San Telmo</h1>
            <nav class="menu" name="manuHistory">
                <ul type="none">
                    <li><a href="index.html">Historia</a></li>
                    <li><a href="">Gastronomia</a></li>
                    <li><a href="">Entretenimiento</a></li>
                    <li><a href="contact.html">Contacto</a></li>
                </ul>
            </nav>
        </header>
        
    </body>
</html>
